.Card{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 15rem;
    height: 20rem;
    transition-duration: 300ms;
}

.Card>svg{
    color: var(--primary)
}

.Card:hover{
    box-shadow: 2px 2px 5px rgb(172, 172, 172);
}

.Card__login{
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 5px 10px;
    cursor: pointer;
}