.Navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.Navbar img {
  object-fit: contain;
  width: 10rem;
  height: 3rem;
}

.Navbar .loggedIn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7rem;
}

.Navbar .profile {
  cursor: pointer;
}

.Navbar #logoutBtn {
  color: var(--primary);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--primary);
  padding: 5px;
  cursor: pointer;
}
